<section class="section advantages__section">
  <div class="container">
    <h2 class="section__title visually-hidden">Advatages</h2>
    <ul class="advatages">
      <li class="advantages__item advantages__item--first">
        <h3 class="advantages__title">720</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--second">
        <h3 class="advantages__title">16KG</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--third">
        <h3 class="advantages__title">84</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
