<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantage-list list">
      <li class="advantage-item">
        <p class="advantage-text">
          <span class="advantage-text-top advantage-1"> 721 </span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage-item">
        <p class="advantage-text">
          <span class="advantage-text-top advantage-2"> 16kg </span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage-item">
        <p class="advantage-text">
          <span class="advantage-text-top advantage-3"> 84 </span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>