<section class="contacts" id="contact">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="list contacts__list">
      <li class="contacts__column">
        <div class="div__heading">
          <p class="contacts__heading contacts__cafe">CAFE</p>
        </div>
        <div class="contacts__content">
          <h3 class="contacts__title">Chicago</h3>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__content">
          <ul class="list">
            <li class="contacts__timetable">
              <h3 class="contacts__subtitle">Monday - Friday</h3>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__timetable">
              <h3 class="contacts__subtitle">Saturday - Sunday</h3>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts__content">
          <ul class="list">
            <li>
              <a class="link contacts__link" href="tel:+61(0)383766284"
                >+61(0)383 766 284</a
              >
            </li>
            <li>
              <a class="link contacts__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__column">
        <p class="contacts__heading contacts__foodtruck">FOODTRUCK</p>
        <div class="contacts__content">
          <h3 class="contacts__title">Los Angeles</h3>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__content">
          <ul class="list">
            <li class="contacts__timetable">
              <h3 class="contacts__subtitle">Monday - Friday</h3>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__timetable">
              <h3 class="contacts__subtitle">Saturday - Sunday</h3>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts__content">
          <ul class="list">
            <li>
              <a class="link contacts__link" href="tel:+61(0)383766284"
                >+61(0)383 766 284</a
              >
            </li>
            <li>
              <a class="link contacts__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__column">
        <p class="contacts__heading contacts__cafe">CAFE</p>
        <div class="contacts__content">
          <h3 class="contacts__title">New York</h3>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__content">
          <ul class="list">
            <li class="contacts__timetable">
              <h3 class="contacts__subtitle">Monday - Friday</h3>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__timetable">
              <h3 class="contacts__subtitle">Saturday - Sunday</h3>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts__content">
          <ul class="list">
            <li>
              <a class="link contacts__link" href="tel:+61(0)383766284"
                >+61(0)383 766 284</a
              >
            </li>
            <li>
              <a class="link contacts__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="contacts__btn">
      <ul class="list contacts__btnitem">
        <li class="contacts__btnlist">
          <button
            class="contacts__locations button button__contacts"
            data-modal-open
          >
            <span class="locations__title">Our Locations &#62;</span>
          </button>
          <div class="backdrop is-hidden" data-modal>
            <div class="modal">
              <button class="modal__close-btn" data-modal-close>
                <svg class="close-button" width="18px" height="18px">
                  <use href="./images/icons.svg#close"></use>
                </svg>
              </button>
              <h3 class="modal__title">Our locations</h3>
              <ul class="modal__locations">
                <li class="modal__item-location">
                  <iframe
                    class="modal__map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380510.68411187263!2d-88.01283910093665!3d41.83390249807456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1656597151443!5m2!1sru!2sua"
                    width="600"
                    height="450"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                  ></iframe>
                </li>
                <li class="modal__item-location">
                  <iframe
                    class="modal__map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423283.4433370854!2d-118.69261169977176!3d34.020728936393425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1656597199544!5m2!1sru!2sua"
                    width="600"
                    height="450"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                  ></iframe>
                </li>
                <li class="modal__item-location">
                  <iframe
                    class="modal__map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d665839.1927581973!2d-74.46237240247241!3d40.65695704344375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1656597247998!5m2!1sru!2sua"
                    width="600"
                    height="450"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                  ></iframe>
                </li>
              </ul>
            </div>
          </div>
          <script src="./modal.js"></script>
        </li>
        <li class="contacts__btnlist">
          <button
            class="contacts__franchise button button__contacts"
            data-modal-open-2
          >
            <span class="franchise__title">Franchise &#62;</span>
          </button>
          <div class="backdrop is-hidden" data-modal-2>
            <div class="modal modal-franchise">
              <button class="modal__close-btn" data-modal-close-2>
                <svg class="close-button" width="18px" height="18px">
                  <use href="./images/icons.svg#close"></use>
                </svg>
              </button>
              <h3 class="modal__title franchise-title">
                Want to buy a franchise? <br />
                Leave your details and we’ll call you back
              </h3>
              <form class="modal__form">
                <!-- Name -->
                <div class="form-field">
                  <label class="form-field__label" for="name">Name</label>
                  <input
                    class="form-field__input"
                    type="text"
                    name="name"
                    id="name"
                  />
                  <svg
                    class="person-icon form-field__icon"
                    width="18px"
                    height="18px"
                  >
                    <use href="./images/icons.svg#person"></use>
                  </svg>
                </div>
                <!-- Phone number -->
                <div class="form-field">
                  <label class="form-field__label" for="tel">Tel</label>
                  <input
                    class="form-field__input"
                    type="tel"
                    name="tel"
                    id="tel"
                  /><svg
                    class="phone-icon form-field__icon"
                    width="18px"
                    height="18px"
                  >
                    <use href="./images/icons.svg#phone"></use>
                  </svg>
                </div>

                <!-- E-mail -->
                <div class="form-field">
                  <label class="form-field__label" for="email">E-mail</label>
                  <input
                    class="form-field__input"
                    type="email"
                    name="email"
                    id="email"
                  />
                  <svg
                    class="email-icon form-field__icon"
                    width="18px"
                    height="18px"
                  >
                    <use href="./images/icons.svg#email"></use>
                  </svg>
                </div>

                <!-- Comment area -->
                <div class="form-comment">
                  <label class="form-field__label" for="comment"></label>
                  <textarea
                    class="form-field__input form-field__textarea"
                    name="comment"
                    id="comment"
                    placeholder="Your cooperation proposals"
                  ></textarea>
                </div>

                <button class="button modal__submit-btn" type="submit">
                  Call me!
                </button>
              </form>
            </div>
          </div>
          <script>
            (() => {
              const refs = {
                openModalBtn: document.querySelector('[data-modal-open-2]'),
                closeModalBtn: document.querySelector('[data-modal-close-2]'),
                modal: document.querySelector('[data-modal-2]'),
              };

              refs.openModalBtn.addEventListener('click', toggleModal);
              refs.closeModalBtn.addEventListener('click', toggleModal);

              function toggleModal() {
                refs.modal.classList.toggle('is-hidden');
              }
            })();
          </script>
        </li>
      </ul>
    </div>
  </div>
</section>
