<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="list contacts__list">
      <li class="contacts__column">
        <div class="div__heading">
          <p class="contacts__heading contacts__cafe">CAFE</p>
        </div>
        <div class="contacts__content">
          <h3 class="contacts__title">Chicago</h3>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__content">
          <ul class="list">
            <li class="contacts__timetable">
              <h3 class="contacts__subtitle">Monday - Friday</h3>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__timetable">
              <h3 class="contacts__subtitle">Saturday - Sunday</h3>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts__content">
          <ul class="list">
            <li>
              <a class="link contacts__link" href="tel:+61(0)383 766 284"
                >+61(0)383 766 284</a
              >
            </li>
            <li>
              <a class="link contacts__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__column">
        <p class="contacts__heading contacts__foodtruck">FOODTRUCK</p>
        <div class="contacts__content">
          <h3 class="contacts__title">Los Angeles</h3>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__content">
          <ul class="list">
            <li class="contacts__timetable">
              <h3 class="contacts__subtitle">Monday - Friday</h3>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__timetable">
              <h3 class="contacts__subtitle">Saturday - Sunday</h3>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts__content">
          <ul class="list">
            <li>
              <a class="link contacts__link" href="tel:+61(0)383 766 284"
                >+61(0)383 766 284</a
              >
            </li>
            <li>
              <a class="link contacts__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__column">
        <p class="contacts__heading contacts__cafe">CAFE</p>
        <div class="contacts__content">
          <h3 class="contacts__title">New York</h3>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__content">
          <ul class="list">
            <li class="contacts__timetable">
              <h3 class="contacts__subtitle">Monday - Friday</h3>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__timetable">
              <h3 class="contacts__subtitle">Saturday - Sunday</h3>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts__content">
          <ul class="list">
            <li>
              <a class="link contacts__link" href="tel:+61(0)383 766 284"
                >+61(0)383 766 284</a
              >
            </li>
            <li>
              <a class="link contacts__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="contacts__btn">
      <ul class="list contacts__btnitem">
        <li class="contacts__btnlist">
          <button class="contacts__locations">
            <span class="locations__title">Our Locations &#62</span>
          </button>
        </li>
        <li class="contacts__btnlist">
          <button class="contacts__franchise">
            <span class="franchise__title">Franchise &#62</span></button>
        </li>
      </ul>
    </div>
  </div>
</section>
