<section class="section">
    <div class="container">
        <h2 class="visually-hidden">Costumer</h2>
        <img class="customer__images" src="/src/images/reviews/customer-1-1x.jpg" alt="" width="85" height="85">
        <div class="customer__comment">
            <article class="customer__comment-clients">
                <svg class="customer__comment-icon" width="54" height="40">
                    <use href="/src/images/icons.svg#quotse"></use>
                </svg>
                <p class="customer__comment-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                    Aliquam sem. In hendrerit nulla quam
                    nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </article>

            <div>
                <svg class="customer__comment-" width="4" height="4">
                    <use href="/src/images/icons.svg#reviews-3dots"></use>
                </svg>
                <p class="customer__comment-place">Emily, Los Angeles</p>
            </div>
            <div class="costomer__slide">
                <svg class="customer__slide-icon" width="12" height="12">
                    <use href="/src/images/icons.svg#dotsandhouse"></use>
                </svg>
                <span class="costomer__slide-check"></span>
                <span class="costomer__slide-check"></span>
            </div>
        </div>
    </div>
</section>