<section class="section">
    <h2 class="customer__title visually-hidden">customer-reviews</h2>
    <div class="container">
        <img class="customer__clients-images" src="/src/images/reviews/customer-1-1x.jpg" alt="Emily" width="54"
            height="40">
        <div class="customer__reviews">
            <article class="customer__clients">
                <svg class="customer__icon-quote" width="54" height="40">
                    <use href="/src/images/icons.svg#review-quote"></use>
                </svg>
                <p class="customer__clients-comments">
                    Nullam viverra consectetuer. Quisque cursus et,
                    porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                    accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </article>
        </div>
        <div class="customer__ecllips">
            <svg class="customer__ecllips-icon" width="4" height="4">
                <use href="/src/images/icons.svg#review-small-ellipse"></use>
            </svg>
            <svg class="customer__ecllips-icon" width="4" height="4">
                <use href="/src/images/icons.svg#review-small-ellipse"></use>
            </svg>
            <svg class="customer__ecllips-icon" width="4" height="4">
                <use href="/src/images/icons.svg#review-small-ellipse"></use>
            </svg>
        </div>
        <p class="customer__text">Emily,
            Los Angeles</p>

        <div class="customer__form">
            <svg class="customer__icon-bt" width="12" height="12">
                <use href="/src/images/icons.svg#review-house"></use>
            </svg>
            <input class="customer__form-slide-bt" type="radio">
            <input class="customer__form-slide-bt" type="radio">
            <input class="customer__form-slide-bt" type="radio">
        </div>
    </div>

</section>