<section>
  <div class="container">
    <div class="wrapper gallery">
      <div class="div1 gallery__item">
        <img
          class="gallery__image img1"
          src="./images/gallery/grin320-1x.jpg"
          alt=""
        />
      </div>
      <div class="div2 gallery__item">
        <img
          class="gallery__image img2"
          src="./images/gallery/pink320-1x.jpg"
          alt=""
        />
      </div>
      <div class="div3 gallery__item">
        <img
          class="gallery__image img3"
          src="./images/gallery/pink-and-red320-1x.jpg"
          alt=""
        />
      </div>
      <div class="div4 gallery__item">
        <img
          class="gallery__image img4"
          src="./images/gallery/ice-cream320-1x.jpg"
          alt=""
        />
      </div>
      <div class="div5 gallery__item">
        <img
          class="gallery__image img5"
          src="./images/gallery/girl320-1x.jpg"
          alt=""
        />
      </div>
      <div class="div6 gallery__item">
        <img
          class="gallery__image img6"
          src="./images/gallery/fruit320-1x.jpg"
          alt=""
        />
      </div>
      <div class="div7 gallery__item">
        <img
          class="gallery__image img7"
          src="./images/gallery/red-ice320-1x.jpg"
          alt=""
        />
      </div>
      <div class="div8 gallery__item">
        <img
          class="gallery__image img8"
          src="./images/gallery/dog320-1x.jpg"
          alt=""
        />
      </div>
      <div class="div9 gallery__item">
        <img
          class="gallery__image img9"
          src="./images/gallery/sheyk320-1x.jpg"
          alt=""
        />
      </div>
      <div class="div10 gallery__item">
        <img
          class="gallery__image img10"
          src="./images/gallery/cake320-1x.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
