<!-- header-section -->

<header>
    <div class="header__container container">

        <nav class="navigation">
            <a class="logo-link link" href="#">
                <svg class="logo-img">
                    <use href="./images/icons.svg#logo"></use>
                </svg>
            </a>

            <ul class="list navigation__list">
                <li class="navigation__item"><a class="link navigation__link current" href="#">Home</a></li>
                <li class="navigation__item"><a class="link navigation__link" href="#advantages">About us</a></li>
                <li class="navigation__item"><a class="link navigation__link" href="#about">How it’s made?</a></li>
                <li class="navigation__item"><a class="link navigation__link" href="#products">Our products</a></li>
                <li class="navigation__item"><a class="link navigation__link" href="#contact">Contact</a></li>
            </ul>
        </nav>

        <button class="btn-menu" type="button" aria-expanded="false" data-menu-button>
            <svg class="btn-menu-icons" width="20" height="12">
                <use class="btn-menu-burger" href="./images/icons.svg#burger"></use>
                <use class="btn-menu-close" href="./images/icons.svg#close"></use>
            </svg>
        </button>

        <button class="btn-top" type="button"><span class="btn-mobile-title">Buy now</span>
            <svg class="btn-mobile-icon" width="6" height="8">
                <use href="/src/images/icons.svg#arrow"></use>
            </svg>
        </button>

        <div class="mobile-menu" data-menu>
            <button class="btn-mobile-menu" type="button"><span class="btn-mobile-title">Buy now</span>
                <svg class="btn-mobile-icon" width="6" height="8">
                    <use href="/src/images/icons.svg#arrow"></use>
                </svg>
            </button>

            <nav class="nav">
                <ul class="list nav__list">
                    <li class="nav__item"><a class="link nav__link current" href="#">Home</a></li>
                    <li class="nav__item"><a class="link nav__link" href="#advantages">About us</a></li>
                    <li class="nav__item"><a class="link nav__link" href="#about">How it’s made?</a></li>
                    <li class="nav__item"><a class="link nav__link" href="#products">Our products</a></li>
                    <li class="nav__item"><a class="link nav__link" href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>

    </div>
</header>


<main>

    <!-- hero-section -->

    <section class="hero">
        <div class="hero-container container">

            <div class="hero__points">
                <ul class="hero__points-list list">
                    <li class="hero__points-item">
                        <span class="hero__points-item--over">16</span>
                        <span class="hero__points-item--sub">cafes</span>
                    </li>
                    <li class="hero__points-item">
                        <span class="hero__points-item--over">23</span>
                        <span class="hero__points-item--sub">food trucks</span>
                    </li>
                </ul>
            </div>

            <!-- <p class="amount__title">16<br><span class="amount__subtitle">cafes</span></p> -->

            <div class="hero__title-block">
                <h1 class="hero__title">ice cream <br> made with <br><span class="hero__title-big">passion</span></h1>

                <ul class="hero__btn-list list">
                    <li>
                        <a class="hero__btn-dark" href="#products">Products</a>
                    </li>
                    <li>
                        <a class="hero__btn-light" href="#about">How it’s made?</a>
                    </li>
                </ul>

                <h2 class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et</h2>

                <button class="hero-box__btn button">
                    <svg class="hero-box__btn-icon" width="26" height="26">
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>





            <picture class="hero__img-milk">

                <source media="(max-width: 1280px)" srcset="
                        ./images/hero/milk-1280-1x.png 1x,
                        ./images/hero/milk-1280-2x.png 2x" type="image/png" />

                <source media="(max-width: 768px)" srcset="
                        ./images/hero/milk-768-1x.png 1x,
                        ./images/hero/milk-768-2x.png 2x" type="image/png" />

                <img class="hero__img-milk-md" src="./images/hero/milk-768-1x.png" alt="Ice Cream" width="152"
                    height="154" />
            </picture>

            <picture class="hero__img-girl">

                <source media="(max-width: 1200px)" srcset="
                        ./images/hero/girl-1200-1x.png 1x,
                        ./images/hero/girl-1200-2x.png 2x" type="image/png" />

                <source media="(max-width: 768px)" srcset="
                        ./images/hero/girl-768-1x.png 1x,
                        ./images/hero/girl-768-2x.png 2x" type="image/png" />

                <img class="hero__img-girl-md" src="./images/hero/girl-768-1x.png" alt="Ice Cream" width="152"
                    height="154" />
            </picture>

            <div class="hero__ellipse-img">
                <picture class="hero__img">

                    <source media="(max-width: 1200px)" srcset="
                            ./images/hero/hero-icecream-1280-1x.png 1x,
                            ./images/hero/hero-icecream-1280-2x.png 2x" type="image/png" />

                    <source media="(max-width: 768px)" srcset="
                            ./images/hero/hero-icecream-768-1x.png 1x,
                            ./images/hero/hero-icecream-768-2x.png 2x" type="image/png" />

                    <source media="(max-width: 767px)" srcset="
                            ./images/hero/hero-icecream-320-1x.png 1x,
                            ./images/hero/hero-icecream-320-2x.png 2x" type="image/png" />

                    <img class="hero__icecream-img" src="./images/hero/hero-icecream-320-1x.png" alt="Ice Cream"
                        width="171" height="410" />
                </picture>
            </div>

        </div>
    </section>
</main>

<script src="./menu.js"></script>