<section class="products__section section" id="products">
  <div class="products-container container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item products__item-1">
        <div class="products-box products-box-1">
          <div class="products-box__dbllayer">
            <h3 class="products-box__title">ice cream</h3>
            <p class="products-box__descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <button class="products-box__btn button">
              <svg class="products-box__btn-icon" width="26" height="26">
                <use href="./images/icons.svg#arrow-right"></use>
              </svg>
            </button>
            <div class="products-box__overlay products-box__overlay--1">
              <h4 class="products-box__overlay-title">ice cream</h4>
              <p class="products-box__overlay-info">
                Only naturals ingredients:
              </p>
              <p class="products-box__overlay-descr">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="products__item products__item-2">
        <div class="products-box products-box-2">
          <div class="products-box__dbllayer">
            <h3 class="products-box__title">ice coffee</h3>
            <p class="products-box__descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <button class="products-box__btn">
              <svg class="products-box__btn-icon" width="26" height="26">
                <use href="./images/icons.svg#arrow-right"></use>
              </svg>
            </button>
            <div class="products-box__overlay products-box__overlay--2">
              <h4 class="products-box__overlay-title">ice coffee</h4>
              <p class="products-box__overlay-info">
                Only naturals ingredients:
              </p>
              <p class="products-box__overlay-descr">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="products__item products__item-3">
        <div class="products-box products-box-3">
          <div class="products-box__dbllayer">
            <h3 class="products-box__title">milkshakes</h3>
            <p class="products-box__descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <button class="products-box__btn">
              <svg class="products-box__btn-icon" width="26" height="26">
                <use href="./images/icons.svg#arrow-right"></use>
              </svg>
            </button>
            <div class="products-box__overlay products-box__overlay--3">
              <h4 class="products-box__overlay-title">milkshakes</h4>
              <p class="products-box__overlay-info">
                Only naturals ingredients:
              </p>
              <p class="products-box__overlay-descr">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<p></p>