.customer__images {
    width: 85px;
    height: 85px;
    margin: 0 auto;
}

.customer__comment {
    width: 100%;
    min-height: 308px;
    background-color: $customer-background-color;
    margin: 32px 0 36px 0;
}

.customer__comment-clients {
    padding: 43px 50px 26px 50px;
}