.gallery {
  padding-top: 30px;
  padding-bottom: 30px;

  background-image: linear-gradient(
    to bottom,
    $footer-bg 30%,
    $products-title-color 30%
  );
}

.container {
  &--without-padding {
    padding-left: 0;
    padding-right: 0;

    @include desktop {
      padding-left: 93px;
      padding-right: 93px;
    }
  }
}

.container__gallery {
  padding-left: auto;
  padding-right: auto;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, minmax(43.5px, 1fr));
  grid-template-rows: repeat(9, minmax(12.85px, auto));
  grid-gap: 2.5px;
  grid-auto-flow: column;
}

.gallery__item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  aspect-ratio: 1/1;

  transition: transform 200ms ease-in, z-index 350ms ease-in;

  &:hover {
    transform: scale(1.15);

    z-index: 999;
  }
}

.gallery__image {
  object-fit: cover;
  height: 100%;
}

.img2 {
  object-position: 50% 25%;
}

.img8 {
  object-position: 95% 50%;
}

.div1 {
  grid-column: 1/2;
  grid-row: 4/7;
}
.div2 {
  grid-column: 2/3;
  grid-row: 3/6;
}
.div3 {
  grid-column: 2/3;
  grid-row: 6/9;
}
.div4 {
  grid-column: 3/5;
  grid-row: 1/7;

  &:hover {
    transform: scale(1.05);

    z-index: 999;
  }
}
.div5 {
  grid-column: 3/4;
  grid-row: 7/10;
}
.div6 {
  grid-column: 5/6;
  grid-row: 3/6;
}
.div7 {
  grid-column: 5/6;
  grid-row: 6/9;
}
.div8 {
  grid-column: 6/7;
  grid-row: 2/5;
}
.div9 {
  grid-column: 6/7;
  grid-row: 5/8;
}
.div10 {
  grid-column: 7/8;
  grid-row: 4/7;
}
