.products-container {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.products__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.products__item {
  @include tablet {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  @include desktop {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.products__subtitle {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: $sub-title-color;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 26px;
    line-height: 1.15px;
    margin-bottom: 18px;
  }

  @include desktop {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }
}

.products__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $title-color;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 48px;
    line-height: 1.14;
    margin-bottom: 20px;
  }

  @include desktop {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    margin-bottom: 20px;
  }
}

.products-img {
  transform: translateY(50%);
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  margin-top: -140px;

  @include tablet {
    width: 224px;
    transform: translateY(86px);
    margin-top: -86px;
  }

  @include desktop {
    width: 368px;
    transform: translateY(133px);
    margin-top: -133px;
  }
}

.products-box {
  width: 280px;
  height: 489px;
  border-radius: 24px;

  margin-right: auto;
  margin-left: auto;

  padding-top: 160px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @include tablet {
    width: 224px;
    height: 473px;
    padding-top: 116px;
    padding-right: 25px;
    padding-bottom: 40px;
    padding-left: 25px;
  }

  @include desktop {
    width: 368px;
    height: 600px;
    padding-top: 165px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
  }
}

.products-box-1 {
  background: $products-1st-bg-color;
}

.products-box-2 {
  background: $products-2nd-bg-color;
}

.products-box-3 {
  background: $products-3rd-bg-color;
}

.products-box__title {
  position: relative;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $text-color-light;

  margin-bottom: 70px;

  @include desktop {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products-box__title::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #fff, -10px 0 0 0 #fff, 10px 0 0 0 #fff;
  background-color: $products-background-color;
  margin-top: 32px;
  margin-bottom: 32px;
}

.products-box__descr {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: $text-color-light;

  margin-bottom: 32px;

  @include desktop {
    font-size: 16px;
    line-height: 1.76;

    margin-bottom: 60px;
  }
}

.products-box__dbllayer {
  position: relative;
  overflow: hidden;
}

.products-box__overlay {
  display: flex;
  flex-direction: column;

  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;

  margin-right: auto;
  margin-left: auto;

  transition: transform 400ms;
  transform: translateY(100%);
}

.products-box__overlay--1 {
  background: $products-1st-bg-color;
}

.products-box__overlay--2 {
  background: $products-2nd-bg-color;
}

.products-box__overlay--3 {
  background: $products-3rd-bg-color;
}

.products-box__overlay-title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $text-color-light;

  margin-bottom: 30px;

  @include desktop {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products-box__overlay-info {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $text-color-light;

  margin-bottom: 15px;

  @include desktop {
    font-size: 18px;
    line-height: 1.13;
  }
}

.products-box__overlay-descr {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: $text-color-light;

  @include desktop {
    font-size: 16px;
    line-height: 1.76;
  }
}

.products-box__btn:hover .products-box__overlay,
.products-box__btn:focus .products-box__overlay {
  transform: translateY(0);
}

.products-box__overlay:hover,
.products-box__overlay:focus {
  transform: translateY(0);
}

.products-box__btn {
  display: block;
  margin-right: auto;
  margin-left: auto;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: $btn-bg-color-light;
}

.products-box__btn:hover,
.products-box__btn:focus {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.products-box__btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: $text-accent-color;
  transition: transform 400ms, fill 400ms;
}

.products-box__btn:hover .products-box__btn-icon,
.products-box__btn:focus .products-box__btn-icon {
  transform: rotate(270deg);
  fill: $btn-bg-color-light;
}
